<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1 class="post-header">Posts</h1>
<ol>
    <% results.forEach(function(post) {%>
        <li>
            <img
            src="<%= post.imageUrl %>"
                 alt="<%= post.message %>"
                 width="50"
                 height="50"
                    />
           <p> <%= post.message %> </p>
           <p>Post by <%= post.postedBy.name %> (<%= post.postedBy.username %>) at <%= post.createdAt %></p>
           <% if(post.likedBy.length > 0) { %>
            <p>
                <%= post.likedBy.length %> likes:
                <ul>
                    <% post.likedBy.forEach(function(user) {%>
                        <li><%= user.name %></li>
                    <% }); %>
                </ul>
            </p>
            <% } %>
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>