<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<div class="page">
    <div class="page-body">
        <img src="<%= coverImageUrl %>" alt="Cover Image" class="cover-photo">
        <div class="user-bar">
            <img src="<%= profileImageUrl %>" alt="Profile Image" class="profile-image">
            <div class="user-overview">
                <h1 class="profile-name"><%= name %></h1>
                <div class="profile-username"><%= username %></div>
                <div class="profile-email"><%= email %></div>
            </div>
        </div>
    </div>
</div>

<h2><%= name %>'s posts</h2>
    <ol>
    <% posts.forEach(function(post) {%>
        <li>
            <img
                src="<%= post.imageUrl %>"
                 alt="<%= post.message %>"
                 width="50"
                 height="50"
                    />
           <p> <%= post.message %> </p>
        </li>
    <% }); %>
</ol>
      

</body>
<%- include('_footer') -%>
</html>